/*==============================
 *=== IE
 *===============================*/
input,
textarea,
button,
select
  .ie7 &
    vertical-align: middle

.ie
  .wpcf7 label
    position: static
    color: #101416
  .wpcf7-not-valid,
  .wpcf7-not-valid-tip,
  input:invalid,
  textarea:invalid
    color: error
  figure
    display: block

.ie7
  header
    position: static
  main
    margin-top: 2.5em
