{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "modules": false ,
        "useBuiltIns": true,
        "debug": false
      }
    ],
    "react",
    "stage-0",
    "flow"
  ]
}
