@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************************************************************************
*                       Theme styles. Order is Importat                       *
*******************************************************************************/

:root {
  --fg: theme('colors.black');
  --bg: theme('colors.white');
}

@screen dark {
  :root {
    --bg: theme('colors.black');
    --fg: theme('colors.white');
  }
}

.light {
  --fg: theme('colors.black');
  --bg: theme('colors.white');
}

.dark {
  --bg: theme('colors.black');
  --fg: theme('colors.white');
}

/*******************************************************************************
*                              End theme styles                               *
*******************************************************************************/

@media screen and (min-width: 25em) {
  html {
    font-size: 150%;
  }
}

body {
  text-size-adjust: 100%;
  font-feature-settings: 'kern', 'liga', 'dlig', 'hlig', 'cswh';
  font-kerning: auto;
  background-color: var(--bg);
  color: var(--fg);
}

.twitter-tweet {
  @apply m-0 mb-6 !important;
}

.prose a {
  @apply border-b-2 border-myBlue-400;
  /* @apply text-myBlue-400; */
}

.prose a:hover,
.prose a:focus,
.prose a:active {
  @apply text-black bg-yellow-300;
}

:focus {
  outline: 2px solid theme('colors.blue.500');
}

img {
  @apply max-w-full;
}

pre {
  @apply max-w-full pl-0 m-0 mb-6 overflow-auto font-mono !important;
  font-size: inherit !important;
}

pre code {
  color: inherit;
}

code {
  @apply font-mono;
  font-size: inherit !important;
}

blockquote {
  border-left: 0.75em solid;
}

blockquote > p {
  @apply mb-0;
}

::selection {
  @apply text-black bg-yellow-300 !important;
}
