.wrap {
  text-align: center;
}

.btn {
  font-size: 11px;
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  vertical-align: -1px;
  border: none;
}

.btn:hover {
  border: none;
}

.label {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  white-space: nowrap;
}

.icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 2px;
}
