doctype
html(lang="en")
    include _partials/head
    block head
      link(rel="stylesheet",href="/assets/css/app.css")
  body
    main(class="p1")
      if environment === 'development'
        pre= current.source
        pre= JSON.stringify(current)
      block content
        != yield

      include _partials/footer
    include _partials/analytics
