div
  h1.teal.text-xl.m0= author
  h2.teal.text-m.normal.leading-tight.m0 Browser whisperer, symbols writer & CLI typer.

  :marked
    I like bringing structure where it is lacking, systematizing information & automating processes.

    A Developer with an eye for Design, builds for performance & clarity. Mainly focusing on front-end architecture & modular design systems.

    Currently working at <a href="http://lightspeedhq.com">Lightspeed</a> in Amsterdam, The Netherlands.

