posts = public.portfolio._data
data = partial('_partials/data-loop', { collection: posts })

div.mod-2thirds.centered.intro.secondary-text
  h2 I Build stuff on the web.
  p Clear. Fast. Usable. Responsive.

ul.m-grid.cf
  each item, i in data
    - if ( i > 5 ) return;
    li.mod-third
      a(href='portfolio/' + item.slug)
        figure.face.thumb
          img(src='assets/img/content/'+item.thumb, class="attachment-portfolio-thumb wp-post-image")
        h3.back= item.title
