h1.blue.text-xl.m0= author
h2.blue.text-m.normal.tight-leading.m0 I like to bring structure where it is lacking, systematizing information & automating processes.

:marked
  I'm a Developer with an eye for Design, builds for performance & clarity. Mainly focusing on front-end architecture & modular design systems.

  Currently working at <a href="http://lightspeedhq.com">LightspeedHQ</a> in Amsterdam, The Netherlands.

