- var work = public.work._data
- var data = partial('../_partials/data-loop', { collection: work })

block content
  h2 #{public._data[current.path[0]].title}
  ul.m-grid.cf
    each item in data
      li.mod-third
        a(href='/work/'+item.slug)
              figure.face.thumb
                  img(src='/assets/img/content/'+item.thumb, class="attachment-portfolio-thumb wp-post-image")
              h3.back #{item.title}
