/*==============================
 *=== TEMP EDITS
 *===============================*/
// for more read http://jackosborne.co.uk/articles/using-media-queries-to-check-your-designs-in-the-browser
@media only screen and (max-width: 75em)
  body
    background: url() no-repeat center top
