script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js")
script(src="/assets/js/libs/highlight.min.js")
script(src="/assets/js/scripts.js")
script.
  hljs.configure({
    tabReplace: '  '
  })
  hljs.initHighlightingOnLoad();
if environment === 'production'
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','#{google_analytics}','auto');ga('send','pageview');


