script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js")
script(src="/assets/js/libs/highlight.min.js")
// script(src="/assets/js/scripts.js")
script.
  hljs.configure({
    tabReplace: '  '
  })
  hljs.initHighlightingOnLoad();
