/*==============================
 *=== group MEDIA QUERIES
 *===============================*/
@-webkit-viewport
  width: device-width


@-moz-viewport
  width: device-width


@-ms-viewport
  width: device-width


@-o-viewport
  width: device-width


@viewport
  width: device-width

@media only screen and (min-width: 37.5em)
  // 600px
  header
    padding: 1.25em 0
  .menu
    margin: 0
  [role="navigation"]
    li
      margin: 0 0 0 .25em
      width: auto
  [class*="mod-"]
    float: left
    margin-right: 1.9%
    margin-bottom: 1.9%
  .centered
    margin-right: auto
    margin-left: auto
    float: none
  .mod-1
    columns(1)
  .mod-third
    columns(2)
  .mod-3
    columns(3)
  .mod-2thirds
    columns(4)
  .mod-5
    columns(5)
  .mod-full
    columns(6)
    float: none
    margin-right: auto
    margin-left: auto
    max-width: 62.5em
  .navigation a:hover span
    top: -150%

@media only screen and (min-width: 40em)
  // 640px

@media only screen and (min-width: 48em)
  // 768px
  header
    text-align: left
  #logo
    float: left
    min-width: 21.875em
    margin: 0
    a
      overflow: hidden
    .logo-img
      float: left
      margin-right: 0.625em
      width: 5.1875em
      height: 2.1875em
    div
      float: left
      line-height: 1.3
  [role="navigation"]
    float: right
  .blog-post blockquote
    float: left
    clear: left
    margin-left: -27%
    margin-right: 2em
    max-width: 14em

@media only screen and (min-width: 64em)
  // 1024px
  header
    margin: 0

  main
    margin-top: 4em

@media only screen and (min-width: 75em)
  // 1200px
