/*==============================
 *=== UI PATTERNS
 *===============================*/

.m-pagination,
.page-numbers
  list-style: none
  margin: 1.5em 0
  padding: 0
  text-align: center
  fontSize(14)
  clear: both
  li
    display: inline-block
    &:first-child a,
    &:last-child a
      border: none
  a
    display: block
    padding: .2em .5em
    margin: 0 .2em
    border-radius: 2px
    &:hover,
    .current
      text-decoration: none
      background-color: linkColor
      color: #fff

.m-grid
  list-style: none
  padding: 0
  margin: 0
  text-align: center
  figure
    display: block
  a
    display: block
    &:hover
      text-decoration: none
      img
        border-color: linkColor
        -webkit-box-shadow: 0 0 10px linkColor
        -moz-box-shadow: 0 0 10px linkColor
        box-shadow: 0 0 10px linkColor
      h3
        color: linkColor
    h3
      transition: all 0.2s ease-in-out
  [class*="mod-"]:nth-of-type(3n)
    margin-right: 0
  .back
    fontSize(20)
    text-align: center

.thumb
  img
    border: 1px solid #090D0F
    transition: all 0.2s ease-in-out

.navigation
  float: none
  margin-bottom: 1.5em
  a
    color: #81766F
    &:hover
      text-decoration: none
  .up
    font-family: headings
    text-transform: uppercase
    fontSize(28)
    display: inline-block
    *display: inline
    *zoom: 1
    margin-top: -0.3125em
    text-indent: 1.464em
    &:hover
      color: linkColorHover
  .new:only-of-type
     .up
      text-indent: -1.464em
  > div
    ~ .up
      text-indent: 0
  .old
    float: right
  .new
    float: left
  .old a,
  .new a
    position: relative
    padding: .5em .9em
    line-height: normal
    &:hover
      background-color: rgba(0, 0, 0, 0.5)
      border-radius: 3px
      color: linkColorHover

//WORDPRESS CLASSES
.aligncenter
  margin: 0 auto veritcalspace
  clear: both
  text-align: center

.alignright
  margin: 0 0 1.5em 1em
  float: right

.alignleft
  margin: 0 1em 1.5em 0
  float: left

.wp-caption-text
  fontSize(12)
  font-style: italic

.alignnone
  clear: both

.gallery
  margin-bottom: veritcalspace
  text-align: center

.gallery-item
  display: inline-block
