// VARIABLES

// Links
linkColor= #19a1c3
linkColorHover= lighten(#19a1c3, 20%)
tabcolor= rgba(25, 161, 195, 0.4)

// Grays
black= #000
grayDark= lighten(black, 25%)
gray= lighten(black, 50%)
grayLight= lighten(black, 75%)
grayLighter= lighten(black, 90%)
white= #fff

// Accent Colors
textcolor= #B8B1AC
sectextcolor= #52504E
bgcolor= #2F2C2A
error= #b03333
success= #2f831f
colorname= #eee
submitColor= linkColor
btnText= #171c1e

// Baseline grid
basefont= 16

//16px
lineheight= 1.5
veritcalspace= 1.5em

//fonts
para= "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
headings= "proxima-nova-condensed", "league-gothic", impact, sans-serif
monospace= Inconsolata, monaco, consolas, "andale mono", "lucida console", "monospace"

// Griditude
// Modify the grid styles in mixins.less
siteWidth= 1000
gridColumns= 6
gridColumnWidth= 150 / siteWidth * 100%
gridGutterWidth= 20 / siteWidth * 100%
extraSpace= gridGutterWidth * 2


