hide-text {
  text-indent: 100%;
  whitespace: nowrap;
  overflow: hidden;
}
reset-filter {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
body,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
small,
strong,
sub,
sup,
b,
u,
i,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}
audio,
canvas,
video,
figure {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
::-moz-selection {
  text-shadow: none;
  background: #ff0;
  color: #000;
}
::selection {
  text-shadow: none;
  background: #ff0;
  color: #000;
}
::selection:window-inactive {
  text-shadow: none;
  background: #747575;
  color: #000;
}
image::-moz-selection {
  background: transparent;
}
image::selection {
  background: transparent;
}
svg:not(:root) {
  overflow: hidden;
}
html,
body {
  min-height: 100%;
}
html {
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: double-tap-zoom;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #1f2325 url("img/bg.jpg");
  color: #e3e7e9;
  text-rendering: optimizeLegibility;
}
a {
  -webkit-tap-highlight-color: rgba(25,161,195,0.4);
  color: #19a1c3;
  text-decoration: none;
  transition: all 0.2s linear;
  color: #31c1e5;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
.access {
  list-style: none;
  margin: 0;
  position: relative;
  z-index: 1;
}
.access li {
  height: 0;
}
.access a {
  background: #ffc;
  border: 2px solid #ddd;
  display: block;
  padding: 10px;
  position: absolute;
  left: -9999em;
  top: 0;
}
.access a:hover,
.access a:focus {
  color: #333;
  left: 0;
}
.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
em,
i,
cite,
q {
  font-style: italic;
}
small {
  font-size: 90%;
}
strong,
th,
b {
  font-weight: bold;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-family: Inconsolata, monaco, consolas, "andale mono", "lucida console", "monospace";
  -webkit-font-smoothing: subpixel-antialiased;
}
pre,
.comment_body code {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  overflow: auto;
  margin-bottom: 1.5em;
  background: #fef8c4;
  border: 1px solid #090d0f;
  color: #090d0f;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 3px;
}
.comment_body code {
  display: block;
}
code {
  line-height: 1;
  padding: 0.2em;
  background: #fef8c4;
  color: #090d0f;
  border-radius: 2px;
}
del,
s {
  text-decoration: line-through;
}
p,
ol,
ul,
dl,
table,
blockquote {
  margin-bottom: 1.5em;
}
q {
  quotes: "‘" "’" "“" "”";
}
q:before {
  content: "‘";
  content: open-quote;
}
q:after {
  content: "’";
  content: close-quote;
}
q q:before {
  content: "“";
  content: open-quote;
}
q q:after {
  content: "”";
  content: close-quote;
}
blockquote,
blockquote p {
  quotes: "“" "”";
  font-size: 24px;
  font-size: 2.4rem;
  color: #60757f;
  font-style: italic;
}
blockquote p:before {
  content: "“";
  content: open-quote;
}
blockquote p:after {
  content: "";
  content: no-close-quote;
}
blockquote p:last-of-type:after {
  content: "”";
  content: close-quote;
}
blockquote {
  margin-left: -0.5em;
  padding-left: 0.5em;
}
.source {
  display: block;
  text-indent: 0;
  margin-top: -Xpx;
  margin-top: -Xrem;
}
.source:before {
  content: "—";
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "proxima-nova-condensed", "league-gothic", impact, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  clear: both;
}
h1,
.h1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 0.857142857142864 "em";
}
h2,
.h2 {
  font-size: 50px;
  font-size: 5rem;
  margin-bottom: 0.48 "em";
}
h2 {
  text-align: center;
  margin-bottom: 1.066666666666667em;
  line-height: 1;
  clear: both;
}
h3,
.h3 {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 0.8 "em";
}
h4,
.h4 {
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 0.857142857142864 "em";
}
h5,
.h5,
h6,
.h6 {
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 1.090909090909088 "em";
}
h5,
h6,
p {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  color: #e3e7e9;
}
.secondary-text p,
.secondary-text li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #7d8a90;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.wpcf7 .wpcf7-not-valid,
.wpcf7 .wpcf7-not-valid-tip,
.wpcf7 input:invalid,
.wpcf7 textarea:invalid {
  color: #b03333;
}
.wpcf7 .wpcf7-not-valid-tip {
  position: static !important;
}
.wpcf7 .wpcf7-validation-errors {
  background: #b03333;
  color: #cf5a5a;
}
.wpcf7 .wpcf7-validation-errors,
.wpcf7 .wpcf7-not-valid-tip {
  border: none !important;
}
.wpcf7 .wpcf7-mail-sent-ok {
  background: #2f831f;
  color: #48c930;
}
.wpcf7 .wpcf7-response-output {
  border-radius: 5px;
}
form,
fieldset {
  margin-bottom: 1.5em;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: normal;
  vertical-align: baseline;
}
label,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
button,
.btn {
  cursor: pointer;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: #ddd;
  text-transform: uppercase;
}
input:-moz-placeholder {
  color: #ddd;
  text-transform: uppercase;
}
::-webkit-validation-bubble-message,
textarea {
  resize: vertical;
  overflow: auto;
  height: 6.25em;
}
input,
textarea {
  width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "proxima-nova-condensed", "league-gothic", impact, sans-serif;
  padding: 0.1em 0.3em;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
  outline: none;
  transition: all 0.2s ease-in-out;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid #31c1e5;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 0 10px #31c1e5;
}
input[type="submit"],
button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "proxima-nova-condensed", "league-gothic", impact, sans-serif;
  padding: 0.1em 0.3em;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  text-transform: uppercase;
  background: #2dc2e7;
  border: 1px solid #329db7;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 1px 1px #84d9ee;
  color: #2a7d91;
  text-shadow: 0 1px 1px rgba(255,255,255,0.23);
  transition: all 0.2s ease-in-out;
}
input[type="submit"]:hover,
button:hover,
input[type="submit"]:focus,
button:focus {
  background: #42c8e9;
}
input[type="submit"]:active,
button:active {
  background: #42c8e9;
  box-shadow: 0 1px 2px rgba(255,255,255,0.3), inset 0 4px 7px rgba(5,31,37,0.2);
}
.btn {
  line-height: normal;
  display: inline-block;
  background: #19a1c3;
  color: #171c1e;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 14px;
  font-size: 1.4rem;
  text-shadow: 0 1px 0 rgba(255,255,255,0.23);
  padding: 0.8em 1em;
  border-radius: 3px;
  border: 1px solid #153e4e;
  box-shadow: inset 0 0 1px #4da6bc, 0 1px 2px rgba(0,0,0,0.5);
}
.btn:hover,
.btn:focus {
  color: #171c1e;
  background: #31c1e5;
  text-decoration: none;
}
.btn.offline {
  cursor: not-allowed;
  background: #b03333;
  border: 1px solid #380f0f;
  box-shadow: inset 0 0 1px #cb4b4b, 0 1px 2px rgba(0,0,0,0.5);
}
object,
embed,
img {
  max-width: 100%;
  height: auto;
}
audio:not([controls]) {
  display: none;
}
img {
  font-style: italic;
  color: #b03333;
  -ms-interpolation-mode: bicubic;
}
a img {
  border: none;
}
ol {
  list-style: decimal;
}
ul {
  list-style: square;
}
ul,
ol {
  margin-left: 0.5em;
  padding-left: 1em;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0.5em 0;
}
li {
  line-height: 1.5;
}
li ul,
li ol,
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
  color: #1f2325;
}
th {
  font-weight: bold;
}
th,
td {
  padding: 0.5em 1em;
  border: 1px solid;
}
.m-pagination,
.page-numbers {
  list-style: none;
  margin: 1.5em 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  clear: both;
}
.m-pagination li,
.page-numbers li {
  display: inline-block;
}
.m-pagination li:first-child a,
.page-numbers li:first-child a,
.m-pagination li:last-child a,
.page-numbers li:last-child a {
  border: none;
}
.m-pagination a,
.page-numbers a {
  display: block;
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  border-radius: 2px;
}
.m-pagination a:hover,
.page-numbers a:hover,
.m-pagination a .current,
.page-numbers a .current {
  text-decoration: none;
  background-color: #19a1c3;
  color: #fff;
}
.m-grid {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.m-grid figure {
  display: block;
}
.m-grid a {
  display: block;
}
.m-grid a:hover {
  text-decoration: none;
}
.m-grid a:hover img {
  border-color: #19a1c3;
  -webkit-box-shadow: 0 0 10px #19a1c3;
  -moz-box-shadow: 0 0 10px #19a1c3;
  box-shadow: 0 0 10px #19a1c3;
}
.m-grid a:hover h3 {
  color: #19a1c3;
}
.m-grid a h3 {
  transition: all 0.2s ease-in-out;
}
.m-grid [class*="mod-"]:nth-of-type(3n) {
  margin-right: 0;
}
.m-grid .back {
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
}
.thumb img {
  border: 1px solid #090d0f;
  transition: all 0.2s ease-in-out;
}
.navigation {
  float: none;
  margin-bottom: 1.5em;
}
.navigation a {
  color: #41484c;
}
.navigation a:hover {
  text-decoration: none;
}
.navigation .up {
  font-family: "proxima-nova-condensed", "league-gothic", impact, sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  font-size: 2.8rem;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: -0.3125em;
  text-indent: 1.464em;
}
.navigation .up:hover {
  color: #31c1e5;
}
.navigation .new:only-of-type .up {
  text-indent: -1.464em;
}
.navigation > div ~ .up {
  text-indent: 0;
}
.navigation .old {
  float: right;
}
.navigation .new {
  float: left;
}
.navigation .old a,
.navigation .new a {
  position: relative;
  padding: 0.5em 0.9em;
  line-height: normal;
}
.navigation .old a:hover,
.navigation .new a:hover {
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
  color: #31c1e5;
}
.aligncenter {
  margin: 0 auto 1.5em;
  clear: both;
  text-align: center;
}
.alignright {
  margin: 0 0 1.5em 1em;
  float: right;
}
.alignleft {
  margin: 0 1em 1.5em 0;
  float: left;
}
.wp-caption-text {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
}
.alignnone {
  clear: both;
}
.gallery {
  margin-bottom: 1.5em;
  text-align: center;
}
.gallery-item {
  display: inline-block;
}
.l-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%;
  max-width: 62.5em;
  width: 90%;
}
[class*="mod-"] {
  margin-bottom: 5%;
}
.row [class*="mod-"]:last-child {
  margin-right: 0;
}
header {
  background: #fff;
  padding: 1em 0;
  text-align: center;
  margin-bottom: 4em;
}
header a {
  color: #686868;
}
#logo {
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}
#logo a {
  display: block;
}
#logo span {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  color: #a29f9f;
}
.menu {
  padding: 0;
  margin: 0 0 0 -1em;
}
.menu li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 0 1em 1em;
  width: 43%;
}
.menu a {
  display: block;
  padding: 0.857142857142857em;
  background: #e9e9e9;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 3px;
  line-height: normal;
}
.menu a:hover,
.current_page_item > a,
.single-portfolio #menu-item-545 > a,
.single-post .current_page_parent > a {
  text-decoration: none;
  color: #fff;
  background: #19a1c3;
}
.index .intro {
  margin-bottom: 3.3125em;
  text-align: center;
}
.index .intro h2 {
  margin-bottom: 0;
}
.about-me-image {
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #1f2325;
  display: block;
  margin-bottom: 1.5em;
}
.portfolio-single,
.navigation,
.blog,
.archive,
.search,
.comment-text,
.author {
  text-align: center;
}
.wpcf7 {
  padding: 3% !important;
  border-radius: 5px;
  background: #fff url("img/form-bg.png");
  border: 1px solid #141718;
  box-shadow: 0, 1px, 2px, 0, 0.75;
}
.wpcf7 form {
  padding: 3%;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 0;
}
.wpcf7 p:last-of-type {
  margin-bottom: 0;
}
.work-status {
  position: relative;
  padding-left: 1.25em;
  line-height: 1;
}
.work-status:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  border: 1px solid #07be5d;
  box-shadow: 0, 1px 1px, 0.75;
  background: #51e6a5;
  background: linear-gradient(top, #51e6a5 0%, #08bb43 100%);
}
.work-status.busy:before {
  border: 1px solid #c10d19;
  background: #e7526d;
  background: linear-gradient(top, #e7526d 0%, #bc0812 100%);
}
.author {
  display: block;
  margin-bottom: 1.5em;
  color: #41484c;
}
.twitter-tweet-rendered {
  margin-bottom: 1.5em !important;
}
.twitter-tweet-rendered blockquote {
  float: none !important;
  margin: 0 !important;
  clear: none !important;
  max-width: none !important;
}
.blog-post .twitter-tweet-rendered.tw-align-center,
.blog-post .twitter-tweet-rendered,
.blog-post .twt-border {
  width: 100% !important;
  min-width: 100% !important;
}
.blog-post li {
  margin-bottom: 1em;
}
.post-actions {
  text-align: center;
  margin-bottom: 1.5em;
}
.comments-title {
  padding: 0.4em;
  border-top: 1px dotted #41484c;
  border-bottom: 1px dotted #41484c;
}
.commentlist {
  padding: 0;
}
.commentlist .comments-title {
  border-top: none;
  margin-top: -0.2em;
}
.commentlist,
.children {
  list-style: none;
}
.single-comment {
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dotted #41484c;
}
.comment-author {
  overflow: hidden;
}
.comment-author .avatar,
.comment-author .comment-meta {
  vertical-align: top;
}
.comment-author .avatar {
  border-radius: 50%;
  display: inline-block;
}
.comment-author .comment-meta {
  margin-left: 1em;
  display: inline-block;
}
.comment-author .comment-meta a {
  display: block;
}
.comment-author .comment-meta > a {
  font-size: 0.6875em;
  color: #41484c;
}
.bypostauthor .avatar,
.bypostauthor .comment-meta {
  float: right;
}
.bypostauthor .comment-meta {
  margin-right: 1em;
}
.children {
  padding-left: 5%;
}
.children .single-comment {
  border-left: 1px dotted #41484c;
}
.cancel-comment-reply {
  float: right;
}
.cancel-comment-reply a {
  color: #b03333;
}
footer {
  padding: 0.625em 0;
  border-top: 1px solid #323638;
}
footer small,
footer a,
footer .social a:visited {
  color: #7d8a90;
}
footer small {
  float: left;
}
footer .social {
  float: right;
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social li {
  display: inline-block;
  margin: 0 5px;
}
.social a {
  display: block;
}
.social a:hover {
  text-decoration: none;
  color: #31c1e5;
}
.social .twitter a:hover {
  color: #00a0d1;
}
.social .dribbble a:hover {
  color: #ea4c89;
}
.social .github a:hover {
  color: #fff;
}
.social .linkedin a:hover {
  color: #069;
}
.social .facebook a:hover {
  color: #3b5998;
}
.ie7 input,
.ie7 textarea,
.ie7 button,
.ie7 select {
  vertical-align: middle;
}
.ie .wpcf7 label {
  position: static;
  color: #101416;
}
.ie .wpcf7-not-valid,
.ie .wpcf7-not-valid-tip,
.ie input:invalid,
.ie textarea:invalid {
  color: #b03333;
}
.ie figure {
  display: block;
}
.ie7 header {
  position: static;
}
.ie7 main {
  margin-top: 2.5em;
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
@media only screen and (min-width: 37.5em) {
  header {
    padding: 2.25em 0;
  }
  .menu {
    margin: 0;
  }
  [role="navigation"] li {
    margin: 0 0 0 0.25em;
    width: auto;
  }
  [class*="mod-"] {
    float: left;
    margin-right: 1.9%;
    margin-bottom: 1.9%;
  }
  .centered {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .mod-1 {
    width: 15%;
  }
  .mod-third {
    width: 32%;
  }
  .mod-3 {
    width: 49%;
  }
  .mod-2thirds {
    width: 66%;
  }
  .mod-5 {
    width: 83%;
  }
  .mod-full {
    width: 100%;
    float: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 62.5em;
  }
  .navigation a:hover span {
    top: -150%;
  }
  .comment-author {
    line-height: 4;
    position: relative;
  }
  .comment-author .comment-meta > a {
    position: absolute;
    right: 0.625em;
    top: 0.5625em;
  }
  .bypostauthor .comment-meta > a {
    left: 0.625em;
    right: auto;
  }
}
@media only screen and (min-width: 48em) {
  header {
    text-align: left;
  }
  #logo {
    float: left;
    min-width: 21.875em;
    margin: 0;
  }
  #logo a {
    overflow: hidden;
  }
  #logo .logo-img {
    float: left;
    margin-right: 0.625em;
    width: 5.1875em;
    height: 2.1875em;
  }
  #logo div {
    float: left;
    line-height: 1.3;
  }
  [role="navigation"] {
    float: right;
  }
  .blog-post blockquote {
    float: left;
    clear: left;
    margin-left: -27%;
    margin-right: 2em;
    max-width: 14em;
  }
  .no-touch.csstransforms3d .m-grid li {
    position: relative;
    perspective: 1000;
  }
  .no-touch.csstransforms3d .m-grid li:hover a {
    transform: rotateY(180deg);
  }
  .no-touch.csstransforms3d .m-grid a {
    transform-style: preserve-3d;
    transition: all 1s linear;
    height: 12.5em;
  }
  .no-touch.csstransforms3d .m-grid .face {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backface-visibility: hidden;
  }
  .no-touch.csstransforms3d .m-grid .back {
    transform: rotateY(180deg);
    line-height: 10em;
    background-color: #1f2325;
    backface-visibility: hidden;
    border: 1px solid #19a1c3;
    box-shadow: 0 0 10px #19a1c3;
    z-index: 1;
  }
}
@media only screen and (min-width: 64em) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin: 0;
    background: rgba(255,255,255,0.97);
  }
  main {
    margin-top: 10.4375em;
  }
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  html,
  body {
    font-size: 12pt;
    font-family: georgia, serif;
  }
  img {
    max-width: 100%;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  .m-grid a[href]:after,
  .navigation a[href]:after {
    content: "";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
    font-size: 90%;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  [role="navigation"],
  form,
  #respond {
    display: none;
  }
}
