block content
  h2 #{public._data[current.path[0]].title} Me
  div.mod-2thirds.content-text.centered

    :marked
      <img src="/assets/img/content/me.jpg" alt="" class="aligncenter size-full wp-image-942 about-me-image " />

      I'm a Front-end Developer who cares about crafting code that holds up to the highest of standards. I'm passionate about the web and take pride in creating elegant and responsive interfaces, using modular solutions that scale.

      I love getting the chance to learn and experience new things also evangelising best practices and inspiring other groups to the same.

      Currently working as a Senior Front-end Developer at <a href="https://www.lightspeedhq.com/">Lightspeed</a> in Amsterdam.

    h4 About the site
    p
      :marked
        This site was built using [harpjs](http://harpjs.com), hosted on [heroku](http://heroku.com) & automatically deployed using [travis CI](https://travis-ci.org). You can check the code on [Github](https://github.com/ahmedelgabri/gabri.me).
