block content
  h2 #{public._data[current.path[0]].title} Me
  div.mod-2thirds.content-text.centered

    :markdown
      <img src="/assets/img/content/me.jpg" alt="" class="aligncenter size-full wp-image-942 about-me-image " />

      I'm Ahmed El Gabri you can call me "Gabri", I'm a  Front-end Architect with 5+ years of experience in the field. I like to create Clear, Usable, Fast &amp; Responsive websites/apps. Currently working as a Senior Front-end Developer at <a href="http://travelbird.nl">TravelBird</a> in Amsterdam.

      My knowledge &amp; skills spans a wide range of topics, Web design, Front-end development, SEO, Responsive Web Design, Performance Optimization, Social Media.


    h4 About the site
    p
      :markdown
        This site was built using [harpjs](http://harpjs.com), hosted on [heroku](http://heroku.com) & automatically deployed using [travis CI](https://travis-ci.org). You can check the code on [Github](https://github.com/ahmedelgabri/gabri.me).
