---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Oops - page not found">
	<h2>Sorry! This page was not found.</h2>
	<img src="/img/404.gif" alt="" style="max-width: 100%;" />
</BaseLayout>
