.intro {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.logo {
  width: 50px;
  display: inline-block;
  opacity: 0.3;
  transition: all .2s linear;
  &:hover {
    opacity: 1;
  }
}

.split {
  @media screen and (min-width: 48em) {
    display: flex;
  }
}

.section {
  @media screen and (min-width: 48em) {
    margin-right: 4rem;
  }
}

.column {
  flex-basis: 50%;
}
