.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.item {
  display: inline-block;
  margin-right: 1rem;
}
.link {
  border: none;
}
.img {
  vertical-align: middle;
}

.icon16 {
  width: 1rem;
}

.icon24 {
  width: 1.5rem;
}
