
header.bl-header
  .bl-g.bl-g--pad

    .bl-g__u.s-7of12--m
      h1.h3.h-flat-bottom Ahmed El Gabri
        h2.h5 Front-end Architect

    .bl-g__u.s-5of12--m
      h3.h5 Info
      ul.bl-list--reset.bl-g.bl-g--pad
        li.bl-g__u.s-6of12--s.s-6of12--l.info: a(href="mailto:ahmed@gabri.me") ahmed@gabri.me
        li.bl-g__u.s-6of12--s.s-6of12--l.info: a( href="http://gabri.me") http://gabri.me
        li.bl-g__u.s-6of12--s.s-6of12--l.info: a(href="http://twitter.com/ahmedelgabri") @ahmedelgabri
        li.bl-g__u.s-6of12--s.s-6of12--l.info: a(href="http://github.com/ahmedelgabri") Github
        li.bl-g__u.s-6of12--s.s-6of12--l.info: a(href="http://linkedin.com/in/ahmedelgabri/") LinkedIn
        li.bl-g__u.s-6of12--s.s-6of12--l Amsterdam, The Netherlands

main
  section
    h3.h6 Introduction

    :marked
      I'm Ahmed, a Front-end Developer that cares about crafting code that holds up to the highest of standards. I'm passionate about the web and take pride in creating elegant and responsive interfaces, using modular solutions that scale.

  section.bl-g.bl-g--pad
    .bl-g__u.s-12of12--s.s-7of12--m
      h3.h5 Experience

      ul.bl-list--reset
        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Feb '15 - till now
          p.bl-g__u.s-7of12--s.s-8of12--m
            | Senior Front-end Developer
            br
            small: a(href="http://travelbird.com/", target="_blank") TravelBird (Amsterdam, The Netherlands)

        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Nov '13 - Feb '15
          p.bl-g__u.s-7of12--s.s-8of12--m
            | Senior Software Engineer (Front-end)
            br
            small: a(href="http://dubizzle.com/", target="_blank") dubizzle (Dubai, UAE)

        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Aug '13 - Oct '13
          p.bl-g__u.s-7of12--s.s-8of12--m
            | Front-end Engineer
            br
            small: a(href="http://landmarkshops.com/", target="_blank") LandmarkShops (Dubai, UAE)



        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Sep '12 - Oct '13
          p.bl-g__u.s-7of12--s.s-8of12--m
            | Front-end Engineer
            br
            small: a(href="http://landmarkgroup.com/", target="_blank") Landmark Group (Dubai, UAE)



        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Apr '12
          p.bl-g__u.s-7of12--s.s-8of12--m
            | UI Designer/Developer
            br
            small Mash Ltd. (Cairo, Egypt)



        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Dec '10 - Mar '12
          p.bl-g__u.s-7of12--s.s-8of12--m
            | Web designer / Front-end developer
            br
            small: a(href="http://dci-international.com/", target="_blank") DCI International (Giza, Egypt)



        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Jun '10 - Oct '10
          p.bl-g__u.s-7of12--s.s-8of12--m
            | Web designer / Front-end developer
            br
            small Epic Systems (Giza, Egypt)



        li.bl-g.bl-g--pad
          div.bl-g__u.s-5of12--s.s-4of12--m: small Aug '09 - Sep '12
          p.bl-g__u.s-7of12--s.s-8of12--m
            | Web designer / Front-end developer
            br
            small: a(href="http://gabri.me") Gabri.me

    .bl-g__u.s-12of12--s.s-5of12--m
      h3.h5 Languages

      :marked
        * HTML
         * Client & Server side templating (HAML, ERB, Jade, EJS, Handlebars, Django template, Jinja2)
        * CSS
          * Sass, SCSS, Stylus, LESS, PostCSS
        * JavaScript
          * Client-side (browser), ES6 (transpiling via Babel), Lodash, Webpack, Browserify, node.js, CommonJS, ES6 Modules, React, Polymer (Web components)

      h3.h5 Tools

      :marked
        * Gulp
        * Vim
        * Sublime Text
        * Browser developer tools
        * Command line
        * Git
        * Tmux
        * PhotoShop
        * Illustrator
        * Sketch



