
header.bl-header.bl-media
  .h-inline-center.bl-media__figure
    img(src="http://www.gravatar.com/avatar/7efaea71ea53dda21167b342d6ba27e6?s=300", style="width: 150px", alt="")

  .bl-media__body
    h1.h3.h-flat-bottom Ahmed El Gabri
      h2.h5 Front-end Developer

main
  section.bl-g.bl-g--pad
    .bl-g__u.s-8of12--m.s-8of12--l
      h3.h6 Introduction

      :markdown
        A Front-end Developer, who understands the web as a medium. I like Simple, Clean & Clear interfaces, I also care about the quality of my Code and always up to date with the latest technologies/trends on the web. My Skills includes knowledge about these areas, SEO, Social Media, Performance Optimization & I already worked on Responsive web design projects.

        _I have experience working on websites/apps built with Node.js, Python, Ruby, PHP & ASP.NET._, Also, I have experience working on multilingual websites (Arabic, English, French, German & Russian).

        I love to work with people with good technical knowledge who will always challenge my skills and also exchange knowledge, experiences and plan well. I don't believe in titles and I prefer to work in small teams. I like to play a key role in the process of creating a web product.

    .bl-g__u.s-4of12--m.s-4of12--l
      h3.h5 Skills

      :markdown
        HTML, CSS, CSS Architecture & Organization, RWD, OOCSS, BEM, Sass, Stylus,  JavaScript, jQuery,  Grunt, Gulp, Git, Command line, Client & Server side templating (HAML, ERB, Jade, Handlebars, Django templating), WordPress, Usability & Accessibility awareness.

    section.bl-g.bl-g--pad
      .bl-g__u.s-12of12--s.s-8of12--m.s-8of12--l
        h3.h5 Experience

        ul.bl-list--reset
          li.bl-g.bl-g--pad
            span.bl-g__u.s-5of12--s.s-4of12--m.s-4of12--l Nov 2013 - till now
            p.bl-g__u.s-7of12--s.s-8of12--m.s-8of12--l
              | Software Engineer
              br
                small: a(href="http://dubizzle.com/", target="_blank") dubizzle (Dubai, UAE)



              li.bl-g.bl-g--pad
                span.bl-g__u.s-5of12--s.s-4of12--m.s-4of12--l Aug 2013 - Oct 2013
                p.bl-g__u.s-7of12--s.s-8of12--m.s-8of12--l
                  | Front-end Engineer
                  br
                  small: a(href="http://landmarkshops.com/", target="_blank") LandmarkShops (Dubai, UAE)



              li.bl-g.bl-g--pad
                span.bl-g__u.s-5of12--s.s-4of12--m.s-4of12--l Sep 2012 - Oct 2013
                p.bl-g__u.s-7of12--s.s-8of12--m.s-8of12--l
                  | Front-end Engineer
                  br
                  small: a(href="http://landmarkgroup.com/", target="_blank") Landmark Group (Dubai, UAE)



              li.bl-g.bl-g--pad
                span.bl-g__u.s-5of12--s.s-4of12--m.s-4of12--l April 2012
                p.bl-g__u.s-7of12--s.s-8of12--m.s-8of12--l
                  | UI Designer/Developer
                  br
                  small: a(href="http://mashsolvents.com/", target="_blank") Mash Ltd. (Cairo, Egypt)



              li.bl-g.bl-g--pad
                span.bl-g__u.s-5of12--s.s-4of12--m.s-4of12--l December 2010 - March 2012
                p.bl-g__u.s-7of12--s.s-8of12--m.s-8of12--l
                  | Web designer / Front-end developer
                  br
                  small: a(href="http://dci-international.com/", target="_blank") DCI International (Giza, Egypt)



              li.bl-g.bl-g--pad
                span.bl-g__u.s-5of12--s.s-4of12--m.s-4of12--l June 2010 - October 2010
                p.bl-g__u.s-7of12--s.s-8of12--m.s-8of12--l
                  | Web designer / Front-end developer
                  br
                  small Epic Systems (Giza, Egypt)



              li.bl-g.bl-g--pad
                span.bl-g__u.s-5of12--s.s-4of12--m.s-4of12--l Aug 2009 - till now
                p.bl-g__u.s-7of12--s.s-8of12--m.s-8of12--l
                  Web designer / Front-end developer
                  br
                  small: a(href="http://gabri.me") Gabri.me





      .bl-g__u.s-12of12--s.s-4of12--m.s-4of12--l
        h3.h5 Info
        ul.bl-list--reset.bl-g.bl-g--pad
          li.bl-g__u.s-6of12--s.s-6of12--l: a(href="mailto:ahmed@gabri.me") ahmed@gabri.me
            li.bl-g__u.s-6of12--s.s-6of12--l: a( href="http://gabri.me") http://gabri.me
            li.bl-g__u.s-6of12--s.s-6of12--l Arabic/English
            li.bl-g__u.s-6of12--s.s-6of12--l: a(href="http://twitter.com/ahmedelgabri") @ahmedelgabri
            li.bl-g__u.s-6of12--s.s-6of12--l Egyptian
            li.bl-g__u.s-6of12--s.s-6of12--l: a(href="http://linkedin.com/in/ahmedelgabri/") Ahmed El Gabri
