/* from https://github.com/andreypopp/vim-colors-plain */
/* let s:black           = { "gui": "#222222", "cterm": "0"   } */
/* let s:medium_gray     = { "gui": "#767676", "cterm": "243" } */
/* let s:white           = { "gui": "#F1F1F1", "cterm": "15"  } */
/* let s:light_black     = { "gui": "#424242", "cterm": "8"   } */
/* let s:lighter_black   = { "gui": "#545454", "cterm": "240" } */
/* let s:subtle_black    = { "gui": "#303030", "cterm": "236" } */
/* let s:light_gray      = { "gui": "#999999", "cterm": "249" } */
/* let s:lighter_gray    = { "gui": "#CCCCCC", "cterm": "251" } */
/* let s:lightest_gray   = { "gui": "#E5E5E5", "cterm": "251" } */
/* let s:dark_red        = { "gui": "#C30771", "cterm": "1"   } */
/* let s:light_red       = { "gui": "#E32791", "cterm": "1"   } */
/* let s:dark_blue       = { "gui": "#008EC4", "cterm": "4"   } */
/* let s:light_blue      = { "gui": "#B6D6FD", "cterm": "153" } */
/* let s:dark_cyan       = { "gui": "#20A5BA", "cterm": "6"   } */
/* let s:light_cyan      = { "gui": "#4FB8CC", "cterm": "14"  } */
/* let s:dark_green      = { "gui": "#10A778", "cterm": "2"   } */
/* let s:light_green     = { "gui": "#5FD7A7", "cterm": "10"  } */
/* let s:dark_purple     = { "gui": "#523C79", "cterm": "5"   } */
/* let s:light_purple    = { "gui": "#6855DE", "cterm": "13"  } */
/* let s:light_yellow    = { "gui": "#F3E430", "cterm": "11"  } */
/* let s:dark_yellow     = { "gui": "#A89C14", "cterm": "3"   } */
/*  */

code[class*='language-'],
pre[class*='language-'] {
  font-family: inherit;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #222;
  color: #ccc;
}

pre > code[class*='language-'] {
  font-size: 1em;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #555;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.number {
  color: #b6d6fd;
}

.token.punctuation,
.token.operator,
.token.attr-name,
.token.property,
.token.tag,
.token.directive-block,
.token.function {
  color: #ccc;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #ebf4ff;
}

code.language-javascript {
  color: #b6d6fd;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.string.variable,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #b6d6fd;
  font-weight: normal;
}

.token.keyword,
.token.placeholder,
.token.variable {
  color: #ccc;
  font-weight: bold;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ebf4ff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #7eb6f6;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #34659d;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #1f2932;
}

.line-numbers-rows > span:before {
  color: #2c3847;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
  background: rgba(10, 163, 112, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(10, 163, 112, 0.2) 70%,
    rgba(10, 163, 112, 0)
  );
  background: linear-gradient(
    to right,
    rgba(10, 163, 112, 0.2) 70%,
    rgba(10, 163, 112, 0)
  );
}
