@unocss all;

:root {
	color-scheme: dark light;
}

body {
	text-size-adjust: 100%;
	font-feature-settings: 'kern', 'liga', 'calt';
	font-kerning: auto;
	font-size: 1rem;
	line-height: 1.6;
}

a {
	@apply text-orange-700 underline decoration-wavy decoration-orange-700/30 underline-offset-2 transition-colors duration-150;
	@apply dark:text-cyan-400 dark:decoration-cyan-400/30;
}

a:hover,
a:focus,
a:active {
	@apply bg-orange-100 decoration-orange-700 dark:bg-cyan-950 dark:decoration-cyan-400;
}

:focus {
	@apply outline-2 outline-offset-2 outline-cyan-500;
}

img {
	@apply max-w-full;
}

pre {
	@apply mb-6 max-w-full overflow-auto rounded border border-neutral-300 p-4 leading-snug dark:border-neutral-700;
	font-size: 0.875rem;
}

pre code {
	color: inherit;
}

code {
	@apply rounded bg-neutral-200 px-1 py-0.5 text-sm dark:bg-neutral-800;
}

pre code {
	@apply bg-transparent p-0;
}

blockquote {
	@apply mb-6 ml-0 border-l-4 border-neutral-400 pl-4 italic text-neutral-600 dark:border-neutral-600 dark:text-neutral-400;
}

blockquote > p {
	@apply mb-0;
}

::selection {
	@apply bg-cyan-300 text-black;
}

.dark ::selection {
	@apply bg-cyan-700 text-white;
}

.remark-code-title,
.rehype-code-title {
	@apply mb-0 block rounded-t border border-b-0 border-neutral-300 bg-neutral-200 px-4 py-2 text-sm dark:border-neutral-700 dark:bg-neutral-800;
}

.rehype-code-title + pre {
	@apply mt-0 rounded-t-none;
}

.prose p {
	@apply mb-4;
}

.prose ul {
	@apply mb-6 list-disc pl-6;
}

.prose ol {
	@apply mb-6 list-decimal pl-6;
}

.prose li {
	@apply mb-1;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
	@apply mb-4 mt-8 font-bold;
}

.prose h2 {
	@apply text-xl;
}

.prose h3 {
	@apply text-lg;
}

.prose hr {
	@apply my-8 border-neutral-300 dark:border-neutral-700;
}

.prose img {
	@apply max-w-full rounded;
}

.prose pre[class*='language-'] {
	@apply mt-0;
}

.twitter-tweet {
	@apply m-0 mb-6;
}
