@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  text-size-adjust: 100%;
  font-feature-settings: 'kern', 'liga', 'dlig', 'hlig', 'cswh';
  font-kerning: auto;
}

.twitter-tweet {
  @apply m-0 mb-6 !important;
}

a {
  @apply underline underline-offset-1 decoration-2 decoration-slate-300 dark:decoration-slate-700 ease-in-out duration-150;
}

a:hover,
a:focus,
a:active {
  @apply text-current bg-slate-300 dark:bg-zinc-800 decoration-blue-400;
}

:focus {
  @apply ring-2;
}

img {
  @apply max-w-full;
}

pre {
  @apply max-w-full p-4 m-0 mb-6 overflow-auto font-mono rounded-b leading-snug !important;
  font-size: 0.9rem !important;
}

pre code {
  color: inherit;
}

code {
  @apply font-mono;
  font-size: inherit !important;
}

blockquote {
  border-left: 0.75em solid;
}

blockquote > p {
  @apply mb-0;
}

::selection {
  @apply text-black bg-orange-300 !important;
}

.remark-code-title {
  @apply font-mono block p-2 m-0 bg-neutral-900 text-slate-200 rounded-t !important;
}
