---
import {cn} from '../lib/utils'

interface Props {
	level?: '1' | '2' | '3' | '4' | '5' | '6'
	class?: string
	extra?: string
}

const {level = '1', class: className, extra} = Astro.props

const styles = {
	'1': 'text-4xl lg:text-6xl',
	'2': 'text-4xl lg:text-6xl',
	'3': 'text-3xl lg:text-4xl',
	'4': 'text-2xl lg:text-3xl',
	'5': 'text-xl lg:text-2xl',
	'6': 'text-lg lg:text-xl',
}

const Tag = `h${level}` as any
---

<Tag
	class={cn(
		'mb-8 font-serif font-extrabold !leading-tight tracking-tight lg:mb-12',
		className,
		styles[level],
	)}
>
	<span class="inline-block bg-gradient-to-br from-slate-500 to-slate-900 bg-clip-text text-transparent dark:bg-gradient-to-b dark:from-slate-500 dark:to-slate-700">
		<slot />
	</span>{' '}
	{extra && <Fragment set:html={extra} />}
</Tag>
